@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

.dark {
  --background: #080b12;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}
